# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea


trumpbot-chatterbot/django_chatterbot/chatbot-site/db.sqlite3
